body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}

.logo img {
  padding: 10px;
  width: 50px;
  height: 50px;
}
.nav-bar {
  display: flex;
  background-color: #e0e5e7;
}

.menu-bar {
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.menu-bar ul {
  display: flex;
  list-style-type: none;
}

/* ul {
  justify-content: center;
  justify-items: center;
} */

.menu-bar li {
  padding: 10px;
  position: static;
}

.menu-bar li a {
  text-decoration: none;
}
.menu-bar li a:active {
  color: aqua;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.button-group {
  margin-left: auto;
  display: flex;
  padding: 20px;
}

.btn-success {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  margin: 2px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-danger {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.menu-bar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
.hero {
  margin: 20px;
}
.hamburger {
  display: none;
}

.hero {
  background-image: url("/images/wedding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 0 50px;
  margin: 0;
}
.hero-content {
  padding: 50px 30px;
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-size: 35px;
}

.hero form {
  padding: 0;
  margin: 0;
}
.hero-form input {
  padding: 10px 30px 10px 5px;
  border-radius: 5px;
  border: solid 1px;
}

.hero-form .input-container {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.hero-form .input-container i {
  position: absolute;
  right: 5px;
  font-size: 0.8em;
}
/* .hero-form, */
.btn-search {
  width: fit-content;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px;
}

.container {
  padding: 10px 100px;
}
.category-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-text h4 {
  font-size: 25px;
  font-weight: 400;
}
.category-text h5 {
  font-size: 10px;
  font-weight: 400;
}

.card-image,
.card-desc {
  display: flex;
  justify-content: space-between;
}

.card-image img {
  flex: 1;
  margin-right: 10px;
  max-width: 100%;
  border-radius: 5px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
  max-width: 25%;
}

.card-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-scroll h4 {
  padding: 5px 10px;
  margin: 0 10px;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 10px;
}

.card-scroll i {
  background-color: #b2b2b2;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

/* Style for mobile screens */
@media (max-width: 768px) {
  /* Adjustments to the nav-bar */
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .menu-bar {
    display: none;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .menu-bar li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .menu-bar li:last-child {
    border-bottom: none;
  }
  .hamburger {
    display: block;
  }
  .button-group {
    display: none;
  }

  /* Adjustments to the hero section */
  .hero-text {
    font-size: 28px;
  }
  .hero-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .input-container {
    position: relative;
  }
  .input-container input[type="text"] {
    padding-left: 30px;
    width: 100%;
  }
  .input-container i.fa-caret-down {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  /* Adjustments to the category section */
  .categories {
    margin-top: 30px;
  }
  .category-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .category-text h4,
  .category-text h5 {
    font-size: 18px;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .card-item {
    width: 50%;
    padding: 10px;
  }
  .card-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .card-scroll i.fa-backward,
  .card-scroll i.fa-forward {
    font-size: 20px;
    margin: 0 10px;
  }
}
